.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}



.pdp-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.buy-button-placeholder {
  display: flex !important;
}

.shopify-buy__product__variant-selectors {
  display: none;
}

.shopify-buy__product__img-wrapper {
  flex: 1;
}

.shopify-buy__product__title,
.shopify-buy__product__price,
.shopify-buy__product__button {
  flex: 1;
  margin: 0 10px;
}
