.product-container {
  font-family: Arial, sans-serif;
  display: flex;
  margin-top: 50px;
}

.variant-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.variant-image-button:focus,
.variant-image-button:hover {
  outline: none;
  border: 2px solid #000080;
}

.pdp-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  gap: 20px;
  width: fit-content;
}

.product-preview {
  max-height: 80vh;
  width: auto;
}

.pdp-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: left;
}

.pdp-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.buy-button-placeholder {
  margin-top: 20px;
  max-width: fit-content !important;
}

.slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.variant-image-slide {
  display: flex;
  justify-content: center;
  text-align: center;
}

.variant-image-button {
  width: 60px;
  height: 60px;
  background-size: cover;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.slider-arrow {
  font-size: 24px;
  cursor: pointer;
  margin: 5px 0;
  color: #bababa;
}

.slider-arrow-up {
  margin-bottom: auto;
}

.slider-arrow-down {
  margin-top: auto;
}
.quantity-controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quantity-display {
  width: 40px;
  text-align: center;
}

@media (max-width: 1200px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-preview {
    max-height: 50vh;
    width: auto;
  }
}
@media (max-width: 992px) {
  .product-container {
    flex-direction: column;
    align-items: center;

  }
  .row{
    justify-content: center;
  }

  .pdp-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .product-preview {
    max-height: 50vh;
    width: auto;
  }

  .pdp-info {
    width: 100%;
  }
}