.cart-container {
  padding: 20px;
}

.cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item-image {
  width: 100px;
  height: auto;
  margin: auto;
  margin-right: 100px;
  
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin: auto;
  
}

.cart-page-title{
  font-size: 16px;
  margin: auto;
  text-align: center;
}

.cart-item-title {
  margin: 0 0 10px 0;
  font-weight: normal;
  font-size: 18px;
}

.cart-item-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-quantity button {
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.cart-item-quantity span {
  padding: 0px 15px;
  height: 27px;
  text-align: center;
  border: 1px solid #ccc;
}

.cart-item-remove {
  background: none;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.cart-item-price {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

.cart-total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  margin-top: 20px;
}
.total{
  font-size: 18px;
  text-align: right;
}
.checkout-button {
  background-color: #000080;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #4D4DDF;
}

.checkout-button:focus {
  background-color: #8E8EF4;
}
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading-text {
  margin-top: 20px;
  font-size: 16px;
  color: #000080;
}
