.text-center {
  text-align: center;
  font-size: 12px;
  color: #4D4DDF;
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;
}

.text-center.mt-2:hover {
  text-decoration: underline;
}
